@model MvcKutuphaneOtomasyonu.Models.Entity.BOLUM
@{
    ViewBag.Title = "BolumGetir";
    Layout = "~/Views/Shared/_YoneticiLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        @using (Html.BeginForm("BolumGuncelle", "Yonetici", FormMethod.Post))
        {
            <div style="margin-top:30px;">
                <label><b>Bölüm Id</b></label>
                @Html.TextBoxFor(x => x.BolumId, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div style="margin-top:30px;">
                <label><b>Bölüm Adı</b></label>
                @Html.TextBoxFor(x => x.BolumAd, new { @class = "form-control" })
            </div>
            <div>
                <label><b>Ekleyen Id</b></label>
                @Html.TextBoxFor(x => x.EkleyenId, new { @class = "form-control" })
            </div>
            <div>
                <label><b>Ekleyen Durum Id</b></label>
                @Html.TextBoxFor(x => x.DurumId, new { @class = "form-control" })
            </div>
            <div style="margin-top:15px;">
                <button class="btn btn-success">Bölüm Güncelle</button>
            </div>
        }
    </div>

</body>
</html>